@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../img/fondo.png);
    background-repeat: repeat;
    background-size: auto;
}

.contenedor {
    max-width: 1000px;
    margin: 2rem auto;
   background-color: #fafafa;
    padding: 1.5rem;

}

header {
    background-color: #000021;
    padding: 3rem 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

header h1, header h2 {
    color: white;
}

nav {
    margin-top: 2rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
     display: flex;
     justify-content: center;
     gap: 1.5rem;
}
nav a{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: block;
  padding: 0.8rem 1.5rem;
  background-color: #5FBDF5;
  color:#090245;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
nav a:visited {
    color:#ffffff;
}
nav a:hover {
   background-color:#090245;
    color: #5FBDF5;
}
nav a:active {
    background-color: white;
    color: #090245;
}

h1,h2{
   font-family: 'Abel', sans-serif;
   margin: 1rem;
}
h1 {
    max-width: 1000px; 
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    font-size: 2.2rem;
    color: #000021;
    text-align: center;
      text-transform: uppercase;
}
h2 {
    max-width: 700px;
    margin: 3rem auto 2rem auto;
    font-size: 1.8rem;
     color: #000021;
     line-height: 1.4;
}

 h1.header {
     font-family: 'Abel', sans-serif;
    color: #ffffff;
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    line-height: 1.1;
    margin-bottom: 0.2rem;
}
header h2 {
    font-family: 'Abel', sans-serif;
    color: #b3b3b3;
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 700px;
    margin: 0 auto;
    letter-spacing: 0.1rem;
}
p {
    max-width: 650px;
    margin: 0 auto 1.5rem auto;
    padding: 0 1rem;
    text-align: justify;
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 1.2rem;
}
 #cita {
    font-size: 1.5rem;
    transform: (-15deg);
      text-align:right;
}
cite {
    color:#4D4D4D;
      text-align:right;
}
id #right{
    text-align:right;
}
#lista  {
    max-width: 600px;
    list-style: none;
    padding-left: 2rem;
    border-left: 1px solid #5FBDF5;
    margin: 3rem auto;
    margin-top: 0;
}
li{
      font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
   letter-spacing: 0.1rem;
}
footer{
        padding: 2.5rem 1.2rem;
    margin-bottom: 2rem;
    background-color: #5FBDF5;
    color: #000021;
    text-align: center;
    font-family: 0.2rem;
}
address p a{
    color: #090245;
    text-decoration: none;
}
address p a:hover{
   color: white;
}
span {
    font-weight: 550;
    color: #000021;
}
strong {
    font-weight: 600;
}